[submodule "dev-landing-page"]
    path = dev-landing-page
    url = https://github.com/flexdinesh/dev-landing-page.git

[submodule "flyARC"]
    path = flyARC
    url = https://github.com/HungryFly/flyARC.git